<mat-expansion-panel
  class="mat-elevation-z0 suggestion"
  [expanded]="panelOpenState"
>
  <mat-expansion-panel-header [ngClass]="suggestionClass">
    <mat-panel-title>
      <a [href]="areaUrl"
       class="nostyle"
       [target]="areaUrl!='#'?'_blank':'_self'">{{ areaName }}</a>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngFor="let place of places" >
    <a
      href="{{ place.google_maps_url }}"
      target="_blank"
      rel="noopener noreferrer"
      >{{ place.place_name }}</a
    >
  </div>
</mat-expansion-panel>
