.suggestion {
  margin: 2px auto;
}

.first-pick-suggestion {
  font-weight: bold;
  background-color: #47a6ded0;
}

.second-pick-suggestion {
  font-weight: bold;
  background-color: #47a6de57;
  border-color: white;
}

.third-pick-suggestion {
  background-color: whitesmoke;
}

.plain-suggestion {
  font-weight: bold;
  background-color: #47a6de57;
  border-color: white;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:hover {
  text-decoration: underline;
}
