<div id="app">
  <header>
    <h2 style="text-align: center; margin: auto; height: 1.25rem">
      {{ getTitle() }}
    </h2>
  </header>
  <div style="text-align: right; margin-right: 15px; font-size: small">
    <a [ngClass]="{ 'active-lang': lang == 'JP' }" (click)="selectLang('JP')"
      >JP</a
    >|<a [ngClass]="{ 'active-lang': lang == 'EN' }" (click)="selectLang('EN')"
      >EN</a
    >
  </div>
  <div class="card-container">
    <div class="card" (click)="choose_place()">
      <mat-icon>auto_awesome</mat-icon>
      <span>Random</span>
    </div>

    <div class="card" (click)="choose_place_by_attribute('coffee')">
      <mat-icon aria-hidden="false" aria-label="Coffee icon">coffee</mat-icon>
      <span>Coffee</span>
    </div>

    <div class="card" (click)="choose_place_by_attribute('nature')">
      <mat-icon aria-hidden="false" aria-label="Tree icon">park</mat-icon>
      <span>Nature</span>
    </div>

    <div
      class="card"
      target="_blank"
      rel="noopener"
      (click)="choose_place_by_attribute('alcohol')"
    >
      <mat-icon aria-hidden="false" aria-label="Drink icon">local_bar</mat-icon>

      <span>Drinks</span>
    </div>
    <div
      class="card"
      target="_blank"
      rel="noopener"
      (click)="choose_place_by_attribute('young_fancy')"
    >
      <mat-icon aria-hidden="false" aria-label="shopping bag icon"
        >shopping_bag</mat-icon
      >
      <span>Shopping</span>
    </div>
  </div>
  <div class="suggestions">
    <mat-card
      *ngFor="let suggestion of suggestions"
      class="mat-elevation-z0"
      [ngClass]="getSuggestionClass(suggestion)"
    >
      {{ suggestionName(suggestion) }}
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
