<div id="app">
  <header>
    <h2 style="text-align: center; margin: auto; height: 2rem">
      {{ getTitle() }}
    </h2>
  </header>
  <div style="text-align: right; margin-right: 15px; font-size: small">
    <a [ngClass]="{ 'active-lang': lang == 'JP' }" (click)="selectLang('JP')"
      >JP</a
    >|<a [ngClass]="{ 'active-lang': lang == 'EN' }" (click)="selectLang('EN')"
      >EN</a
    >
  </div>
  <div class="card-container">
    <div class="card" (click)="setRandomArea()">
      <mat-icon>auto_awesome</mat-icon>
      <span>Random</span>
    </div>

    <div class="card" (click)="choose_place_by_attribute('coffee')">
      <mat-icon aria-hidden="false" aria-label="Coffee icon">coffee</mat-icon>
      <span>Coffee</span>
    </div>

    <div class="card" (click)="choose_place_by_attribute('nature')">
      <mat-icon aria-hidden="false" aria-label="Tree icon">park</mat-icon>
      <span>Nature</span>
    </div>

    <div class="card" (click)="choose_place_by_attribute('alcohol')">
      <mat-icon aria-hidden="false" aria-label="Drink icon">local_bar</mat-icon>

      <span>Drinks</span>
    </div>
    <div class="card" (click)="choose_place_by_attribute('young_fancy')">
      <mat-icon aria-hidden="false" aria-label="shopping bag icon"
        >shopping_bag</mat-icon
      >
      <span>Shopping</span>
    </div>
    <div class="card" (click)="choose_place_by_attribute('detox')">
      <mat-icon aria-hidden="false" aria-label="man running icon"
        >directions_run</mat-icon
      >
      <span>Escape</span>
    </div>
  </div>
  <!--Working on the random function first -->
  <div class="suggestions" *ngIf="selected_attr=='random'">
    <app-area-expansion-panel [areaName]="randomAreaName"
     [allPlaces]="allPlaces"></app-area-expansion-panel>
  </div>

  <!-- old not used for now  -->
  <div class="suggestions">
    <ng-container *ngIf="suggestions&&selected_attr!=='random'">
      <mat-expansion-panel
        *ngFor="let suggestion of suggestions"
        class="mat-elevation-z0 suggestion"
      >
        <mat-expansion-panel-header [ngClass]="getSuggestionClass(suggestion)">
          <mat-panel-title>
            {{ suggestionName(suggestion) }}
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </ng-container>
  </div>

  <div style="top: 100%; padding-bottom: 10px; left: 30%; position: absolute">
    <app-map></app-map>
    <app-feedback></app-feedback>
  </div>
</div>
<router-outlet></router-outlet>
