<div id="app">
  <header>
    <h2 style="text-align: center; margin: auto; height: 2rem">
      {{ getTitle() }}
    </h2>
  </header>

  <div style="text-align: right; margin-right: 15px; font-size: small">
    <a [ngClass]="{ 'active-lang': lang == 'JP' }" (click)="selectLang('JP')"
      >JP</a
    >|<a [ngClass]="{ 'active-lang': lang == 'EN' }" (click)="selectLang('EN')"
      >EN</a
    >
  </div>

  <div class="card-container">
    <div
      class="card card-for-random"
      (click)="setRandomAreas()"
      [class.highlight-card]="selected_attr == 'random'"
    >
      <mat-icon>auto_awesome</mat-icon>
      <span>Random</span>
    </div>

    <div
      class="card card-for-random"
      (click)="selected_attr = 'search'"
      [class.highlight-card]="selected_attr == 'search'"
    >
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </div>

    <div
      class="card"
      [class.highlight-card]="selected_attr == 'italian'"
      (click)="choosePlaceByAttribute('italian')"
    >
      <mat-icon aria-hidden="false" aria-label="Restaurant icon"
        >restaurant</mat-icon
      >
      <span>Italian</span>
    </div>
    <div
      class="card"
      (click)="choosePlaceByAttribute('western')"
      [class.highlight-card]="selected_attr == 'western'"
    >
      <mat-icon aria-hidden="false" aria-label="Drink icon"
        >lunch_dining</mat-icon
      >
      <span>Western</span>
    </div>

    <div
      class="card"
      (click)="choosePlaceByAttribute('middle_east')"
      [class.highlight-card]="selected_attr == 'middle_east'"
    >
      <mat-icon aria-hidden="false" aria-label="Drink icon"
        >kebab_dining</mat-icon
      >
      <span>Middle East</span>
    </div>
    <div
      class="card"
      (click)="choosePlaceByAttribute('asian')"
      [class.highlight-card]="selected_attr == 'asian'"
    >
      <mat-icon aria-hidden="false" aria-label="Drink icon"
        >ramen_dining</mat-icon
      >
      <span>Asian</span>
    </div>
    <div
      class="card"
      [class.highlight-card]="selected_attr == 'mexican'"
      (click)="choosePlaceByAttribute('mexican')"
    >
      <mat-icon aria-hidden="false" aria-label="mexican icon"
        >local_pizza</mat-icon
      >
      <span>Mexican</span>
    </div>

    <div
      class="card"
      (click)="choosePlaceByAttribute('chinese')"
      [class.highlight-card]="selected_attr == 'chinese'"
    >
      <mat-icon aria-hidden="false" aria-label="chinese food icon"
        >rice_bowl</mat-icon
      >
      <span>Chinese</span>
    </div>

    <div
      class="card"
      (click)="choosePlaceByAttribute('japanese')"
      [class.highlight-card]="selected_attr == 'japanese'"
    >
      <mat-icon aria-hidden="false" aria-label="japanese food icon"
        >bento</mat-icon
      >
      <span>Japanese</span>
    </div>

  </div>

  <div class="suggestions" *ngIf="selected_attr == 'random'">
    <app-area-expansion-panel
      *ngFor="let suggestion of suggestions"
      [suggestionClass]="getSuggestionClass(suggestion)"
      [areaUrl]="getUrl(suggestion)"
      [areaName]="suggestionName(suggestion)"
      [places]="filterPlacesByArea(suggestion)"
    ></app-area-expansion-panel>
  </div>


  <div class="suggestions" *ngIf="selected_attr == 'search'">
    <app-search-input-area (onSearch)="setSearchedAreas($event)"></app-search-input-area>

      <app-area-expansion-panel
      *ngFor="let suggestion of suggestions"
      [suggestionClass]="getSuggestionClass(suggestion)"
      [areaUrl]="getUrl(suggestion)"
      [areaName]="suggestionName(suggestion)"
      [places]="filterPlacesByArea(suggestion)"
    ></app-area-expansion-panel>
  </div>

  <div
    class="suggestions"
    *ngIf="!['random', 'search'].includes(selected_attr)"
  >
    <app-area-expansion-panel
      [suggestionClass]="'first-pick-suggestion'"
      areaName="一覽"
      [panelOpenState]="true"
      [places]="suggestions"
    ></app-area-expansion-panel>
  </div>

  <div style="top: 100%; padding-bottom: 10px; left: 30%; position: absolute">
    <app-map (positionReceived)="updatePostion($event)"></app-map>
    <app-feedback></app-feedback>
  </div>
</div>
<router-outlet></router-outlet>
